{% extends 'mainTemplate.html' %}
{% block content %}
    <div id="blog">
        <div id="article">
            <h1 class="header1">Article 1</h1>
            <h2 class="text-muted">12/12/2020</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
        </div>
    </div>
{% endblock %}