{% extends 'mainTemplate.html' %}
{% block content %}
<div id="blog">
    <h1 class="header1">Blog</h1>
    <h2>{{owner.name}}'s tech and personal blog.</h2>
    
    <div class="container" id="articles_list">
        {% if not articles%}
            <h3 class="noArt">There are no articles published yet...</h3>
        {% else %}
            {% for art in articles%}
            <div class="article">
                <a href="{% url 'blog:article' art.id %}" class="articleTitle">{{art.title}}</a>
                <h3 class="text-muted">{{art.date}}</h3>
                <h4>{{art.snppet}}...</h4>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>  
{% endblock %}