{% extends 'mainTemplate.html' %}
{% block content %}
<div id="blog">
    <h1>Blog</h1>
    <h2>{{owner.name}}'s blog and tech dairy.</h2>
    
    <div class="container" id="articles_list">
        <div class="article">
            <h2 class="articleTitle">Article Title 1</h2>
            <h3 class="text-muted">12/12/2020</h3>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
        </div>
        <div class="article">
            <h2 class="articleTitle">Article Title 2</h2>
            <h3 class="text-muted">12/12/2020</h3>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
        </div>
        <div class="article">
            <h2 class="articleTitle">Article Title 3</h2>
            <h3 class="text-muted">12/12/2020</h3>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
        </div>
    </div>
</div>  
{% endblock %}