body{
    background-color: rgb(39, 39, 39);
    overflow-x: hidden;
}

nav{
    top: 0;
    height: 8rem;
    width: 100%;
}

.navbar-nav{
    display: block;
}

.navbar-brand{
    height: fit-content;
    padding: 0;
    margin-top: 10px;
    margin-left: 15px;
}

li{
    float: left;
    width: fit-content;
    font-size: 23px;
    margin-top: 2rem;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

nav a{
    padding: 10px;
    background-color: #1ababa;
    border-radius: 5px;
    color: #423837;
    text-decoration: none !important;
    transition: 0.5s ease box-shadow;
}

nav a:hover{
    color:black;
    box-shadow: 1px 1px 5px black;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.logo{
    width: 7rem;
    height: 7rem;
    margin-top: 5px;
}

#header{
    text-align: center;
}

#header img{
    margin-top: 80px;
    height: 60rem;
    width: 60rem;
    border-radius: 5px;
}

#header p{
    font-size: 60px;
    font-family: Courier New;
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

#projects{
    width: 85%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    color: white;
    text-align: left;
}

.pr_caption a:hover ,li:hover{
    color: rgb(196, 192, 192);
}

#projects img{
    cursor: pointer;
    width:90%;
    height: 240px;
    opacity: 75%;
    display: block;
    margin-bottom: 1.5rem;
    transition: 0.7s ease opacity;
}

#projects img:hover{
    opacity: 100%;
}

.pr_caption{
    width: 90%;
    padding: 10px;    
}

.pr_caption p{
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
}

.pr_caption a{
    font-family:Times, serif;
    font-size: 30px;
    color: white;
    text-decoration: none !important;
}

@media (max-width:1060px){
    #header p{
        font-size: 50px;
        width: 90%;
    }
    #projects{
        width: 95%;
    }
}

@media (max-width:805px) {

    hr{
        margin: auto;
    }

    #projects{
        text-align: center;
    }

    #projects img{
        width: 100%;
        height: 300px;
        margin: auto;
        margin-bottom: 3rem;
    }

    .pr_caption{
        border-top: 1px solid white;
        width: 100%;
        margin: auto;
        margin-bottom: 2rem;
    }

    .pr_caption p{
        font-size: 18px;
    }
}