body{
    background-color: rgb(39, 39, 39);
}

nav{
    top: 0;
    height: 8rem;
    width: 100%;
}

.navbar-nav{
    display: block;
}

.navbar-brand{
    height: fit-content;
    padding: 0;
    margin-top: 10px;
    margin-left: 15px;
}

li{
    float: left;
    width: fit-content;
    font-size: 23px;
    margin-top: 2rem;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

nav a{
    padding: 10px;
    background-color: #1ababa;
    border-radius: 5px;
    color: #423837;
    text-decoration: none !important;
    transition: 0.5s ease box-shadow;
}

nav a:hover{
    color:black;
    box-shadow: 1px 1px 5px black;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.logo{
    width: 7rem;
    height: 7rem;
    margin-top: 5px;
}

#header{
    text-align: center;
}

#header img{
    margin-top: 80px;
    height: 60rem;
    width: 60rem;
    border-radius: 5px;
}

#header p{
    font-size: 60px;
    font-family: Courier New;
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

#projects{
    width: 85%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
    color: white;
    text-align: left;
}

#projects a{
    font-size: 25px;
    color: white;
    text-decoration: none !important;
}

#projects a:hover ,li:hover{
    color: rgb(196, 192, 192);
}

@media (max-width:1060px){
    #header p{
        font-size: 50px;
        width: 90%;
    }
    #projects{
        width: 95%;
    }
}